1

In [ ]:
a = input("a:")
b = input("b:")
c = input("c:")
print(int(a)+int(b)+int(c))

a:1
b:2
c:3
6

2

In [ ]:
age =int(input("Enter your age:"))
if age>18:
  print("You can vote")
else:
  print("You cannot vote")

Enter your age:19
You can vote

3

In [ ]:
k=1
a=3125
sum = 0
while(k<6):
  if(k<5):
    print(int(a),end=' + ')
  else:
    print(int(a),' = ',int(sum))
  sum+=a
  a/=5
  k=k+1

3125 + 625 + 125 + 25 + 5  =  3900

4

In [ ]:
for i in range(0,7,1):
  for j in range(0,i,1):
    print('*',end=" ")
  print("")

*
* *
* * *
* * * *
* * * * *
* * * * * *

5

In [ ]:
cities = ["dhaka","rangpur","barishal","khustia","sylhet"]
def calcA(x):
  a=0
  for i in x:
    if i=="a":
      a+=1
  if a==2:
    return True

newList = [x for x in cities if len(x)>5 and calcA(x)]
print(newList)

['barishal']